<footer class="footer">
    <section class="footer__brand">
        <img src="./assets/svg/plant.svg" alt="">
        <p>Shamba Link</p>
    </section>
    <section class="footer__first-links">
        <ul class="footer__first-links-list">
            <li>
                <a href="">My Contact</a>
            </li>
            <li>
                <a href="">Order History</a>
            </li>
            <li>
                <a href="">Shopping cart</a>
            </li>
            <li>
                <a href="">Wishlist</a>
            </li>
        </ul>
    </section>
    <section class="footer__second-links">
        <ul class="footer__first-links-list">
            <li>
                <a href="">My Contact</a>
            </li>
            <li>
                <a href="">Order History</a>
            </li>
            <li>
                <a href="">Shopping cart</a>
            </li>
            <li>
                <a href="">Wishlist</a>
            </li>
        </ul>
    </section>
    <section class="footer__third-links">
        <ul class="footer__first-links-list">
            <li>
                <a href="">My Contact</a>
            </li>
            <li>
                <a href="">Order History</a>
            </li>
            <li>
                <a href="">Shopping cart</a>
            </li>
            <li>
                <a href="">Wishlist</a>
            </li>
        </ul>
    </section>
</footer>