<% layout('layout/boilerplate.ejs') %>
    <div class="section__body">
        <section class="section-one">
            <h2>Welcome Back</h2>
            <p>Enter your Credentials to access your account</p>
            <form class="form" action="/login" method="post">
                <div>
                    <label for="">Username</label>
                    <input type="text" name="username" required>
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="text" name="password" required>
                </div>
                <button class="form__submit-button">Submit</button>
                <button class="form__sign-in-google"><img src="./assets/icons/icons8-google 1.svg" alt=""><span>Sign
                        in with
                        Google</span></button>
                <p class="form__have-account">Have an account? <span class="form__span">sign in</span></p>
            </form>
        </section>
        <section>
            <div>
                <h2>Reach your customers faster,</h2>
            </div>
            <div>
                <h1>With Us.</h1>
            </div>
            <img src="./assets/pictures/vegetables.png" alt="">
        </section>
    </div>