<% layout('layout/boilerplate.ejs') %> 
<div class="section__body">
    <section class="section-one">
        <h2>Get Started Now</h2>
        <form class="form" action="/register" method="post">
            <div>
                <label for="">Name</label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="">Email address</label>
                <input type="text" name="email" required>
            </div>
            <div>
                <label for="">Password</label>
                <input type="text" name="password" required>
            </div>
            <button class="form__submit-button">Submit</button>
            <button class="form__sign-in-google"><img src="/assets/icons/icons8-google 1.svg" alt=""><span>Sign in with
                    Google</span></button>
            <p class="form__have-account">Have an account? <span class="form__span">sign in</span></p>
        </form>
    </section>
    <section>
        <div>
            <h2>Reach your customers faster,</h2>
        </div>
        <div>
            <h1>With Us.</h1>
        </div>
        <img src="/assets/pictures/vegetables.png" alt="">
    </section>
</div>
   