<% layout('layout/boilerplate.ejs') %>
    <nav class="navbar__products">
        <ul class="navbar__products-list">
            <li><a href="">Home</a> <img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="">Shop</a> <img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="">Pages</a><img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="">Blog</a><img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="">Contact Us</a><img src="./assets/svg/dropdown.svg" alt=""></li>
            <li><a href="/create-store">Create Store</a></li>
        </ul>
        <div class="navbar__products-div">
            <img class="navbar__assets" src="./assets/svg/search.svg" alt="">
            <input class="navbar__products-input" type="text">
        </div>
    </nav>
    <section class="container">
        <section class="categories">
            <h2>
                Popular categories
            </h2>
            <section class="categories__list-section">
                <ul class="categories__list">
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                    <li class="categories__list-item">
                        <figure class="categories__list-card">
                            <img class="categories__list-image" src="./assets/pictures/fruits.png" alt="">
                            <figcaption class="categories__list-caption">
                                Fresh Fruit
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        </section>
        <section class="products__list-section">
            <h2>
                Popular Products
            </h2>
            <ul class="products__list">
                <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>  <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>  <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>  <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="products__list-item">
                    <figure class="products__list-card">
                        <div class="products__list-card-div">
                            <img class="products__list-image" src="./assets/pictures/apples.jpeg" alt="">
                        </div>
                        <span class="products__list-span">Sale 50%</span>
                        <figcaption class="products__list-caption">
                            <div>
                                <p>Green Apples</p>
                                <span>100</span>
                                <div>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                    <span><img src="./assets/svg/star.svg" alt=""></span>
                                </div>
                            </div>

                            <div class="circle">
                                <img src="./assets/svg/Bag.svg" alt="">
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </section>
    </section>