<% layout('layout/boilerplate.ejs') %>
    <nav class="navbar">
        <img class="logo" src="" alt="">
        <ul class="navbar__list">
            <li class="list__items"><a class="list__links" href="./index.html">Home</a></li>
            <li class="list__items"><a class="list__links" href="./">About</a></li>
            <li class="list__items"><a class="list__links" href="./">Contacts</a></li>
            <li class="list__items"><a class="list__links" href="/products">Products</a></li>
            <li class="list__items"><a class="list__links" href="/login">Login</a></li>
            <li class="list__items"><a class="list__links" href="/register">Sign Up</a></li>
            <li class="list__items"><a class="list__links" href="./wishlist.html">Wish List</a></li>
        </ul>
        <section class="navbar__information">
            <a href="./place-order-page.html"><img class="navbar__assets" src="/assets/icons/shopping-cart.png"
                    alt=""></a>
            <a href=""><img class="navbar__assets" src="/assets/icons/search-interface-symbol.png" alt=""></a>
            <button class="navbar__button">call now</button>
        </section>
    </nav>
    <section class="hero__section">
        <img class="hero__section-image" src="/assets/pictures/pexels-quang-nguyen-vinh-6136413.jpg" alt="">
        <section class="hero__section-content">
            <p class="hero__section-welcome">WELCOME TO ShambaLink a B2B customer system </p>
            <div class="par-heading">
                <h1>SHAMBA LINK</h1>
            </div>
            <div class="par-space">
                <p>Empowering amll scale farmers enabled to get their produce straight to the market place without worry
                    and
                    trouble</p>
            </div>

            </div>
            <div class="hero__section-buttons">
                <button>SELL HERE</button>
                <button>BUY HERE</button>
            </div>
        </section>
    </section>